* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.btn {
  padding: 15px 40px;
  background: blue;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
}

/* navbar */
.nav-bar-logo {
  margin-top: 10px;
}

.nav-bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  line-height: 6.2rem;
  padding: 0px 40px;
  box-sizing: border-box;
  position: relative;
}

.nav-bar::after {
  content: '';
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 0;
  height: 0.2px;
  background-color: rgb(132, 132, 204);
}

.nav-bar-items {
  list-style: none;
  display: flex;
}


.nav-bar-item {
  margin: 0px 12px;
}

.nav-bar-item a {
  font-weight: 700;
}

/* section findPet */
.container {
  margin: 2.8125rem;
}

.findPet {
  display: flex;
}

.FindPet-text {
  padding: 60px 0px;
  flex: 20;
}

.FindPet-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.FindPet-text p {
  line-height: 20px;
  font-weight: 100;
}

.FindPet-text .btn {
  margin: 20px 0px;
}

.findPet-image {
  flex: 80;
}

.findPet-image img {
  height: 300px;
  width: 75%;
  float: right;
}


/* section  Match */


.match {
  height: 100vh;
}

.match .match-content {
  text-align: center;
  background-color: #EEF0FC;
  border-radius: 3px;
  height: 500px;
  width: 1200px;
  padding-top: 110px;
}

.match-content-title {
  margin: 10px;
  font-size: 36px;
}

.match-pets-images {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 20px auto;
}

.match-pets-image {
  width: 64px;
  height: 64px;
}


.match-pets-images p {
  align-items: center;
  margin: auto;
}


.match .match-content form input {
  padding: 15px;
  border-radius: 20px;
  border: none;
  width: 507px;
}

.match .match-content form button {

  margin-left: -125px;
}

.match-list-items {
  margin-top: 40px;
  margin-bottom: 600px;
  display: flex;
  justify-content: center;
  gap: 25px;
  text-align: left;
}

.match-text-item {
  background-color: #FFFFFF;
}



/* how It Work */

.howWork {
  /* height: 100vh; */
  text-align: center;
  padding: 40px;
}

.howWork-titel {
  font-size: 36px;
  margin-bottom: 40px;
}

.works-items {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.work-item-text {
  margin: 30px 20px;
}

.work-item-text p {
  padding: 12px;
  size: 16px;
  letter-spacing: 1.5px;
  line-height: 21px;
  color: #6A6C79;
}

/* stories section */

.stories {
  background-color: #F6F6F9;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stories-text {
  max-width: 450px;
  text-align: center;
}

.stories-text-title {
  font: Avenir Next;
  font-size: 36px;
  margin-bottom: 10px;
}

.stories-text-p {
  line-height: 20px;
  margin-bottom: 40px;
}

.stories-items {
  display: flex;
  gap: 1.25rem;
}

.storie-item-text {
  line-height: 25px;
}

.storie-item-text p {
  font: Avenir Next;
  font-size: 22px;
}

.storie-item-text a {
  color: #2329DB;
}

/* section change Life Pet */

.changeLifePet {
  background-color: #3040C4;
  color: white;
  padding: 60px;
  text-align: center;
}

.changeLifePet-text {
  font: Avenir Next;
  font-size: 30px;
  margin-bottom: 15px;
}

.changeLifePet-button .btn {
  font-size: 18px;
}

.changeLifePet-button .btn:hover {
  background-color: white;
  color: #2329DB;
}